<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jd.jdsdk">


    <application android:allowBackup="true">

        <activity
            android:name="com.kepler.jd.sdk.KeplerMidActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.kepler.jd.sdk.WebViewActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.kepler.jd.login.AuthSuccessActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>
